

.hide{
	display:none;
}

.progess-dots{
	list-style-type:none;
}

.progress-dots .progress{
	display:inline;
	background: url('../images/Circle_Inactive.png') no-repeat center;
	padding: 20px;
}

 .progress-dots .progress.active{
	background: url('../images/Circle_active.png') no-repeat center;
}


.next-btn-img{
	float:right;
	padding-left: 5px;
}

#scene-1,
#scene-2,
#scene-3,
#scene-4,
#scene-5,
#scene-6,
#scene-7,
#scene-8,
#scene-9{
	width:100%
}

.scene-1-svg{
	min-height: 400px;
}
.scene-2-svg{
	min-height: 520px;
}
.scene-3-svg{
	min-height:622px;
}
.scene-4-svg,
.scene-6-svg,
.scene-7-svg,
.scene-8-svg{
	min-height:600px;
}
.scene-5-svg{
	min-height:632px;
}

.scene-9-svg{
	min-height:654px
}

//*******Scene 1 styles*******//


#scene1-text2{
	min-height:185px;
}

#ClickToStart{
	pointer-events: bounding-box;
}

//******Scene 7 styles*****//

#scene7-list li {
    font-size: 22px;
}

ul>li:before, ol>li:before{
	color: #FF5003;
	font-size: 2.125rem;
}

//******Responsive styles****//

@media(max-width: 675px){
	.scene-1-svg{
		min-height: 174px;
	}
	.scene-2-svg{
		min-height: 230px;
	}
	.scene-3-svg{
		min-height:275px;
	}
	.scene-4-svg,
	.scene-6-svg,
	.scene-7-svg,
	.scene-8-svg{
		min-height:256px;
	}
	.scene-5-svg{
		min-height:279px;
	}

	.scene-9-svg{
		min-height:289px
	}
}

@media(max-width: 560px){
	.progress-dots .progress{
		padding: 15px;
	}
}

